body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;
  background-color: rgb(132, 157, 143);
}

main {
  margin: 0 auto;
}

.catalog-body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(156, 176, 165)), color-stop(40%, rgb(132, 157, 143)));
  background-image: linear-gradient(to bottom, rgb(156, 176, 165), rgb(132, 157, 143) 40%);
  background-color: rgb(132, 157, 143);
}

.catalog-main {
  width: 1200px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1146px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: justify;
      -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  padding: 0 27px;
  margin: 0 auto;
}

.btn {
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background-image: linear-gradient(to bottom, #f26843, #e74a35);
  background-color: #e74a35;
  -webkit-box-shadow: 0 2px 2px rgb(172, 16, 0);
          box-shadow: 0 2px 2px rgb(172, 16, 0);
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding: 10px 22px;
  color: rgb(255, 255, 255);
  border-radius: 23px;
  cursor: pointer;
  border: none;
}

.btn:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background-image: linear-gradient(to bottom, #f58669, #ec6f5e);
}

.btn:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d74632), to(#e1613e));
  background-image: linear-gradient(to bottom, #d74632, #e1613e);
  -webkit-box-shadow: inset 0 2px 2px rgb(148, 39, 24);
          box-shadow: inset 0 2px 2px rgb(148, 39, 24);
}

.main-header {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding-top: 9px;
  color: #000000;
}

.header-logo {
  -ms-flex-preferred-size: 154px;
      flex-basis: 154px;
}

.main-navigation {
  -ms-flex-preferred-size: 710px;
      flex-basis: 710px;
}


.main-navigation .main-menu {
  list-style: none;
  font-size: 0;
  margin: 0;
  padding: 0;
  padding-top: 14px;
}

.main-menu li {
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.main-navigation a {
  color: rgba(255, 255, 255, 0.3);
}

.main-navigation a:hover {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.main-navigation span {
  color: rgb(255, 255, 255);
  display: block;
  padding: 7px 14px;

}

.main-navigation span:hover {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  border-radius: 16px;
}

.main-navigation span:active {
  -webkit-box-shadow: inset 0 2px 1px rgb(105, 105, 105);
          box-shadow: inset 0 2px 1px rgb(105, 105, 105);
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 16px;
}

.main-navigation .sub-menu {
  font-size: 0;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  margin: 0;
  padding: 2px 0;
  min-width: 143px;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  margin-top: 5px;
}

.main-menu div {
  display: none;
  position: absolute;
  top: 32px;
  left: -7px;
  z-index: 10;
}

.main-menu li:hover div {
  display: block;
}

.sub-menu li {
  display: block;
  position: relative;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.sub-menu li:hover {
  background-color: rgb(251, 222, 216);
}

.sub-menu li:active {
  background-color: rgb(246, 181, 165);
}

.sub-menu a {
  display: block;
  color: rgb(50, 50, 50);
  text-decoration: none;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.sub-menu li:first-child {
  font-weight: 700;
}

.sub-menu li:first-child::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 6px;
  right: 9px;
  height: 1px;
  background-color: rgba(53, 53, 53, 0.2);
}

.sub-menu .active,
.sub-menu .active:hover,
.sub-menu .active:active {
  background-color: rgb(208, 112, 88);
}

.sub-menu .active a {
  color: rgb(255, 255, 255);
}

.main-navigation .active a {
  text-decoration: none;
}

.main-navigation .active span {
  background-color: rgb(208, 112, 88);
  color: rgb(255, 255, 255);
  border-radius: 16px;
}

.main-navigation .active span:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.user-block {
  -ms-flex-preferred-size: 262px;
      flex-basis: 262px;
}

.user-block ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  font-size: 0;
  margin: 0;
  padding: 0;
  padding-top: 14px;
}

.user-block li {
  position: relative;
  font-size: 14px;
  line-height: 16px;
}

.user-block a {
  display: block;
  position: relative;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 8px 17px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
}

.user-block a:hover,
.user-block a:active {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 16px;
}

.user-block .btn-search {
  padding: 17px;
  font-size: 0;
  line-height: 0;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../img/spritesheet.png");
  background-position: 3px -529px;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.user-block .btn-search:hover,
.user-block .btn-search:active {
  background-color: rgb(255, 255, 255);
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: 3px -556px;
}

.user-search div {
  display: none;
  position: absolute;
  top: 34px;
  left: -308px;
  z-index: 10;
}

.user-search:hover div {
  display: block;
}

.user-search .search-form {
  margin-top: 4px;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  padding-top: 7px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.search-form label {
  display: block;
  line-height: 13px;
  margin-left: 13px;
  font-size: 11px;
  color: transparent;
}

.search-form input[type="text"] {
  width: 282px;
  margin: 0;
  padding: 9px 14px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Roboto", "Arial", sans-serif;
  color: rgb(50, 50, 50);
  -webkit-box-shadow: 0 0 0 1px rgba(178, 178, 178, 0.52);
          box-shadow: 0 0 0 1px rgba(178, 178, 178, 0.52);
  border-radius: 4px;
  border: none;
}

.search-form input[type="text"]::-webkit-input-placeholder {
  color: rgb(153, 153, 153);
  font-weight: 400;
}

.search-form input[type="text"]:-ms-input-placeholder {
  color: rgb(153, 153, 153);
  font-weight: 400;
}

.search-form input[type="text"]::placeholder {
  color: rgb(153, 153, 153);
  font-weight: 400;
}

.search-form input[type="text"]:hover {
  -webkit-box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.52);
          box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.search-form input[type="text"]:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
          box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
  outline: none;
}

.search-form input[type="text"]:focus::-webkit-input-placeholder {
  color:transparent;
}

.search-form input[type="text"]:focus:-ms-input-placeholder {
  color:transparent;
}

.search-form input[type="text"]:focus::placeholder {
  color:transparent;
}

.user-block .btn-login {
  width: 58px;
  text-align: right;
}

.user-block .btn-login::before {
  content: "";
  position: absolute;
  left: 16px;
  top: 5px;
  width: 21px;
  height: 19px;
  background-image: url("../img/spritesheet.png");
  background-position: -5px -479px;
  background-repeat: no-repeat;
}
.user-block .btn-login:hover::before,
.user-block .btn-login:active::before {
  background-image: url("../img/spritesheet.png");
  background-position: -5px -508px;
  background-repeat: no-repeat;
}

.user-login > div {
  display: none;
  position: absolute;
  top: 31px;
  left: -184px;
  z-index: 10;
}

.user-login:hover > div {
  display: block;
}

.user-login .login-form {
  width: 241px;
  margin-top: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  padding-top: 7px;
  padding-bottom: 20px;
  padding-left: 19px;
  padding-right: 17px;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.login-form label {
  display: block;
  line-height: 13px;
  margin-left: 15px;
  font-size: 11px;
  color: transparent;
}
.login-form input[type="text"],
.login-form input[type="password"] {
  width: 213px;
  margin: 0;
  margin-bottom: 9px;
  padding: 9px 14px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Roboto", "Arial", sans-serif;
  color: rgb(50, 50, 50);
  -webkit-box-shadow: 0 0 0 1px rgba(178, 178, 178, 0.52);
          box-shadow: 0 0 0 1px rgba(178, 178, 178, 0.52);
  border-radius: 4px;
  border: none;
}

.login-form input[type="text"]::-webkit-input-placeholder,
.login-form input[type="password"]::-webkit-input-placeholder {
  color: rgb(153, 153, 153);
  font-weight: 400;
}

.login-form input[type="text"]:-ms-input-placeholder,
.login-form input[type="password"]:-ms-input-placeholder {
  color: rgb(153, 153, 153);
  font-weight: 400;
}

.login-form input[type="text"]::placeholder,
.login-form input[type="password"]::placeholder {
  color: rgb(153, 153, 153);
  font-weight: 400;
}

.login-form input[type="text"]:hover,
.login-form input[type="password"]:hover {
  -webkit-box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.52);
          box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
          box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
  outline: none;
}

.login-form input[type="text"]:focus::-webkit-input-placeholder,
.login-form input[type="password"]:focus::-webkit-input-placeholder {
  color:transparent;
}

.login-form input[type="text"]:focus:-ms-input-placeholder,
.login-form input[type="password"]:focus:-ms-input-placeholder {
  color:transparent;
}

.login-form input[type="text"]:focus::placeholder,
.login-form input[type="password"]:focus::placeholder {
  color:transparent;
}

.login-form .btn {
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 13px;
}

.login-form div {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 12px;
}

.login-form a {
  text-decoration: underline;
  font-size: 13px;
  line-height: 24px;
  color: rgba(50, 50, 50, 0.3);
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.login-form a:hover,
.login-form a:active {
  color: rgba(232, 77, 55, 0.3);
  background-color: transparent;
}

.login-form span {
  color: rgb(50, 50, 50);
}

.login-form span:hover,
.login-form span:active {
  color: rgb(232, 77, 55);
}

.user-block .btn-basket {
  width: 61px;
  padding-left: 44px;
  padding-right: 12px;
}

.user-block .btn-basket::before {
  content: "";
  position: absolute;
  left: 16px;
  top: 5px;
  width: 21px;
  height: 20px;
  background-image: url("../img/spritesheet.png");
  background-position: -5px -5px;
  background-repeat: no-repeat;
}

.user-block .btn-basket:hover,
.user-block .btn-basket:active {
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.2);
}

.user-block .full,
.user-block .full:hover,
.user-block .full:active {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.user-block .full::before {
  background-image: url("../img/spritesheet.png");
  background-position: -5px -35px;
  background-repeat: no-repeat;
}

.user-basket > div {
  position: absolute;
  display: none;
  top: 31px;
  left: -423px;
  z-index: 10;
}

.full-basket:hover > div {
  display: block;
}

.user-basket .user-basket-content {
  width: 509px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 17px;
  padding-right: 14px;
  padding-bottom: 21px;
  margin-top: 4px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.user-basket-content div {
  position: relative;
}

.user-basket .remove-from-basket {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 31px;
  left: -1px;
  font-size: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.user-basket .remove-from-basket::before,
.user-basket .remove-from-basket::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -2px;
  width: 16px;
  height: 1px;
  border-radius: 1px;
  background-color: rgb(60, 60, 60);
}

.user-basket .remove-from-basket::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.user-basket .remove-from-basket::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.user-basket p {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 216px;
  margin: 0;
  padding: 0;
  margin-left: 25px;
  margin-top: 30px;
  margin-bottom: 7px;
  padding-left: 45px;
  font-size: 13px;
  line-height: 16px;
  color: rgb(50, 50, 50);
}

.user-basket p::before {
  content: "";
  position: absolute;
  top: -9px;
  left: -1px;
  width: 33px;
  height: 33px;
}

.user-basket .creamy-orange::before {
  background-image: url("../img/creamy-orange-small.png");
}

.user-basket .creamy-strawberry::before {
  background-image: url("../img/creamy-strawberry-small.png");
}

.user-basket span {
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
  font-size: 13px;
  line-height: 16px;
  color: rgb(50, 50, 50);
}

.user-basket .item-weight {
  margin-left: 31px;
}

.user-basket .item-price {
  color: rgb(153, 153, 153);
  margin-right: 28px;
  margin-top: 0;
}

.user-basket-content > span {
  font-size: 15px;
  line-height: 18px;
  margin-top: 14px;
  margin-left: auto;
  font-weight: 700;
}

.user-basket-content .basket-separator {
  height: 1px;
  margin-top: 9px;
  background-color: rgb(202, 202, 199);
}

.user-basket-content .btn {
  margin-left: auto;
  margin-top: 14px;
  padding: 10px 15px;
  border-radius: 21px;
}

.user-basket-content .btn:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background-image: linear-gradient(to bottom, #f58669, #ec6f5e);
  border-radius: 21px;
  color: rgb(255, 255, 255);
}

.user-basket-content .btn:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d74632), to(#e1613e));
  background-image: linear-gradient(to bottom, #d74632, #e1613e);
  -webkit-box-shadow: inset 0 2px 2px rgb(148, 39, 24);
          box-shadow: inset 0 2px 2px rgb(148, 39, 24);
  color: rgb(255, 255, 255);
}


.info {
  position: absolute;
  max-width: 167px;
  right: 27px;
  bottom: -40px;;
  font-size: 14px;
  line-height: 23px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-align: right;
  }

.info span {
  font-size: 22px;
  line-height: 26px;
}

.slider {
  position: relative;
  width: 1146px;
  padding: 0 27px;
  margin: 0 auto;
  margin-bottom: 43px;
  padding-top: 304px;
  text-align: center;
  color: #ffffff;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-weight: 800;
  font-size: 60px;
  line-height: 61px;
}

.slider .btn {
  display: inline-block;
  vertical-align: top;
  padding: 12px 45px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  border-radius: 100px;
}

.slider-controls {
  position: absolute;
  bottom: 21px;
  left: 28px;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  cursor: pointer;
}

body > input[type="radio"] {
  display: none;
}

.slide {
  position: relative;
  display: none;
}

.slider-btn-1:checked ~ .site-wrapper .slide-1,
.slider-btn-2:checked ~ .site-wrapper .slide-2,
.slider-btn-3:checked ~ .site-wrapper .slide-3 {
  display: block;
}

.slider-btn-1:checked ~ .site-wrapper .slider-controls label[for="btn-1"],
.slider-btn-2:checked ~ .site-wrapper .slider-controls label[for="btn-2"],
.slider-btn-3:checked ~ .site-wrapper .slider-controls label[for="btn-3"] {
  background-color: rgb(255, 255, 255);
}

.site-wrapper {
  background-repeat: no-repeat;
  background-position: top center;
}

.slider-btn-1:checked ~ .site-wrapper {
  background-color: rgb(132, 157, 143);
  background-image: url("../img/slider-creambrulle-raspberry.png");
}

.slider-btn-2:checked ~ .site-wrapper {
  background-color: rgb(137, 150, 166);
  background-image: url("../img/slider-chocolate-lemon.png");
}

.slider-btn-3:checked ~ .site-wrapper {
  background-color: rgb(157, 139, 132);
  background-image: url("../img/slider-fondant-strawberry.png");
}

.offers {
  margin-bottom: 40px;
}

.best-offer-title {
  font-size: 35px;
  line-height: 41px;
  color: rgb(255, 255, 255);
  margin: 0;
  margin-bottom: 15px;
  padding-left: 19px;
  padding-top: 15px;
}

.offers p {
  font-size: 18px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  margin: 0;
  padding-left: 20px;
  padding-right: 27px;
}

.best-offer-left,
.best-offer-right {
  -ms-flex-preferred-size: 560px;
      flex-basis: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 15px;
  min-height: 229px;
}

.best-offer-left {
  background-image: url("../img/background-banner-raspberry.jpg");
  background-repeat: no-repeat;
  background-color: rgb(140, 5, 30);
}

.best-offer-right {
  background-image: url("../img/background-banner-chocolate.jpg");
  background-repeat: no-repeat;
  background-color: rgb(95, 58, 39);
}

.btn-buy {
  display: inline-block;
  margin-top: auto;
  margin-bottom: 27px;
  margin-right: 21px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.popular-items {
  margin-bottom: 38px;
}

.catalog-item {
  -ms-flex-preferred-size: 267px;
      flex-basis: 267px;
  position: relative;
}

.catalog-item:not(.popular-item) {
  margin-bottom: 38px;
}

.catalog-item .item-picture {
  position: relative;
  width: 265px;
  height: 265px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 15px;
}

.catalog-item-price {
  position: absolute;
  top: 208px;
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 3px rgb(49, 50, 53);
}

.catalog-item-price span {
  font-size: 45px;
}

.catalog-item h3 {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.catalog-item a {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-item:hover a {
  text-decoration: none;
}

.catalog-item span {
  color: rgb(255, 255, 255);
}

.catalog-item .item-hover {
  display: none;
  position: absolute;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  top: -6px;
  left: -13px;
  width: 293px;
  height: 405px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.catalog-item:hover .item-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
}

.catalog-item:hover .item-picture,
.catalog-item:hover .catalog-item-price,
.catalog-item:hover h3 {
  z-index: 20;
}

.item-hover .btn {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 22px;
  padding-left: 20px;
  padding-right: 18px;
  color: rgb(255, 255, 255);
}

.popular-item {
  position: relative;
}

.popular-item::after {
  content: "";
  position: absolute;
  display: block;
  width: 61px;
  height: 61px;
  top: 0px;
  left: 0px;
  background-image: url("../img/spritesheet.png");
  background-position: -5px -366px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  z-index: 30;
}

.features {
  -ms-flex-preferred-size: 1146px;
      flex-basis: 1146px;
  margin-bottom: 40px;
  min-height: 305px;
  background-image: url("../img/background-features.jpg");
  background-color: rgb(236, 225, 197);
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 16px;
  color: rgb(50, 50, 50);
}

.features-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  padding-top: 24px;
  padding-left: 20px;
}

.features-item {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 484px;
  margin: 0;
  margin-left: 20px;
  padding-left: 57px;
  padding-top: 22px;
}

.features-item::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 9px;
  width: 49px;
  height: 49px;
}

.item-1::after {
  background-image: url("../img/spritesheet.png");
  background-position: -5px -166px;
  background-repeat: no-repeat;
}

.item-2::after {
  background-image: url("../img/spritesheet.png");
  background-position: -5px -107px;
  background-repeat: no-repeat;
}

.item-3::after {
  background-image: url("../img/spritesheet.png");
  background-position: -5px -225px;
  background-repeat: no-repeat;
}

.item-4::after {
  background-image: url("../img/spritesheet.png");
  background-position: -5px -284px;
  background-repeat: no-repeat;
}

.index-content {
  margin-bottom: 40px;
}

.news {
  -ms-flex-preferred-size: 560px;
      flex-basis: 560px;
  min-height: 220px;
  background-image: url("../img/background-news.jpg");
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}

.news h2 {
  font-size: 16px;
  line-height: 22px;
  color: rgb(50, 50, 50);
  margin-top: 21px;
  margin-left: 19px;
  margin-bottom: 6px;
}

.news a {
  display: inline-block;
  vertical-align: top;
  width: 285px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: rgb(50, 50, 50);
  margin-left: 19px;
}

.news a:hover,
.news a:active {
  color: rgb(232, 77, 55);
}

.subscribe {
  -ms-flex-preferred-size: 560px;
      flex-basis: 560px;
  min-height: 220px;
  background-color: rgb(248, 247, 244);
  background-image: url("../img/background-subscribe.png");
  border-radius: 15px;
}

.subscribe p {
  width: 512px;
  margin: 0;
  margin-top: 35px;
  margin-left: 26px;
  margin-bottom: 24px;
  color: rgb(90, 90 ,90);
}

.subscribe-form label {
  display: block;
  line-height: 13px;
  margin-left: 42px;
  font-size: 11px;
  color: transparent;
}

.subscribe-form button {
  padding-left: 15px;
  padding-right: 15px;
}

.subscribe-form input[type="text"] {
  position: relative;
  width: 338px;
  margin: 0;
  margin-left: 26px;
  margin-right: 10px;
  padding: 9px 14px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Roboto", "Arial", sans-serif;
  color: rgb(50, 50, 50);
  -webkit-box-shadow: 0 0 0 1px rgba(178, 178, 178, 0.52);
          box-shadow: 0 0 0 1px rgba(178, 178, 178, 0.52);
  border-radius: 4px;
  border: none;
}

.subscribe-form input[type="text"]::-webkit-input-placeholder {
  color: rgb(153, 153, 153);
  font-weight: 400;
}

.subscribe-form input[type="text"]:-ms-input-placeholder {
  color: rgb(153, 153, 153);
  font-weight: 400;
}

.subscribe-form input[type="text"]::placeholder {
  color: rgb(153, 153, 153);
  font-weight: 400;
}

.subscribe-form input[type="text"]:hover {
  -webkit-box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.52);
          box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.subscribe-form input[type="text"]:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
          box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
  outline: none;
}

.subscribe-form input[type="text"]:focus::-webkit-input-placeholder {
  color:transparent;
}

.subscribe-form input[type="text"]:focus:-ms-input-placeholder {
  color:transparent;
}

.subscribe-form input[type="text"]:focus::placeholder {
  color:transparent;
}

.map {
  position: relative;
  margin: 0 auto;
  height: 430px;
  background-color: rgb(200, 190, 160);
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.map iframe {
     width: 100%;
     height: 100%;
}

.wrapper {
  width: 1146px;
  position: relative;
  padding: 0 27px;
  margin: 0 auto;
}

.contacts {
  width: 302px;
  position: absolute;
  top: 63px;
  right: 27px;
  min-height: 305px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  z-index: 10;
}

.contacts p {
  width: 225px;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-left: 25px;
}

.contacts .adress {
  margin-top: 27px;
  margin-bottom: 17px;
}

.contacts .telephone {
    margin-bottom: 36px;
}

.contacts span {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.contacts .btn-feedback {
  margin-left: 25px;
  padding-left: 28px;
  padding-right: 28px;
}


/*
///////////////////////////////////////////////////  CATALOG.HTML   //////////////////////////////////////////////////
*/

.navigation {
  width: 400px;
  margin-top: 16px;
  margin-bottom: 25px;
  margin-left: 27px;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 2px;
}

.breadcrumbs li {
  display: inline;
  font-size: 14px;
  line-height: 16px;
  color: rgb(255, 255, 255);
}

.breadcrumbs a {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
  color: rgba(255, 188, 158, 0.3);
}

.breadcrumbs span {
  color: rgb(255, 255, 255);
  position: relative;
  padding-right: 17px;
}

.breadcrumbs span::after {
  content: "»";
  position: absolute;
  right: 3px;
  top: 0px;
}

.breadcrumbs span:hover,
.breadcrumbs span:active {
  color: rgb(255, 188, 158);
}

.index-title h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}

.filters {
  margin-bottom: 40px;
}

.filters-form {
  -ms-flex-preferred-size: 1146px;
      flex-basis: 1146px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filters-form > div {
  margin-right: 15px;
}

.filters-form label {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  color: rgb(255, 255, 255);
}

.select label,
.range label,
.radio-btn-area-title,
.checkbox-area-title {
  font-size: 14px;
  line-height: 16px;
  color: rgb(255, 255, 255);
}

.select {
  -ms-flex-preferred-size: 194px;
      flex-basis: 194px;
}

.select select {
  font-size: 16px;
  line-height: 18px;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.2);
  padding: 8px 13px;
  border-radius: 25px;
}

.select select:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.select label {
    margin-left: 17px;
}

.range-filter {
  -ms-flex-preferred-size: 218px;
      flex-basis: 218px;
}

.price-controls {
  font-size: 0;
  padding-top: 1px;
  padding-left: 14px;
}

.price-controls label {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  font-size: 14px;
  line-height: 16px;
}

.price-controls input {
  width: 30px;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: rgb(255, 255, 255);
  border: none;
  background-color: transparent;
}

.range-controls {
  position: relative;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 17px;
  padding-top: 16px;
  padding-left: 15px;
  padding-right: 15px;
}

.range-controls .scale {
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.range-controls .bar {
  height: 4px;
  width: 50%;
  margin-left: 20%;
  background-color: rgb(255, 255, 255);
}

.range-controls .toggle {
  position: absolute;
  top: 8px;
  left: 0px;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 35px;
}

.range-controls .toggle-max {
  left: 132px;
}

.radio-btn-area {
  -ms-flex-preferred-size: 415px;
      flex-basis: 415px;
}

.radio-btn-area div {
  padding-top: 1px;
  padding-left: 15px;
  margin-bottom: 5px;
}

.radio-btn-area label {
  padding-left: 30px;
  cursor: pointer;
}

.radio-btn-area label:hover {
  text-shadow: 0 0 1px rgb(255, 255, 255);
}

.radio-btn-area label:hover .radio-btn-indicator {
  -webkit-box-shadow: 0 0 0 1px rgb(255, 255, 255);
          box-shadow: 0 0 0 1px rgb(255, 255, 255);
}

.radio-btn-area input[type="radio"] {
  display: none;
}

.radio-btn-area input[type="radio"]:disabled  + .radio-btn-indicator {
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.radio-btn-area label:hover input[type="radio"]:disabled + .radio-btn-indicator {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.radio-btn-area ul {
  list-style: none;
  font-size: 0;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 8px 13px;
  border-radius: 25px;
}

.radio-btn-area li {
  display: inline-block;
  vertical-align: bottom;
  font-size: 16px;
  line-height: 18px;
  margin-right: 21px;
}

.radio-btn-area li:last-child {
  margin-right: 0;
}

.radio-btn-indicator {
  position: absolute;
  top: -2px;
  left: 1px;
  width: 18px;
  height: 18px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
}

.radio-btn-area input[type="radio"]:checked + .radio-btn-indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -5px;
  width: 10px;
  height: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}

.checkbox-area {
  -ms-flex-preferred-size: 702px;
      flex-basis: 702px;
  margin-top: 14px;
}

.checkbox-area div {
  padding-top: 1px;
  padding-left: 15px;
  margin-bottom: 5px;
}

.checkbox-area label {
  padding-left: 30px;
  cursor: pointer;
}

.checkbox-area label:hover {
  text-shadow: 0 0 1px rgb(255, 255, 255);
}

.checkbox-area label:hover .checkbox-indicator {
  -webkit-box-shadow: 0 0 0 1px rgb(255, 255, 255);
          box-shadow: 0 0 0 1px rgb(255, 255, 255);
}

.checkbox-area input[type="checkbox"] {
  display: none;
}

.checkbox-area input[type="checkbox"]:disabled  + .checkbox-indicator {
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.checkbox-area label:hover input[type="checkbox"]:disabled + .checkbox-indicator {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.checkbox-area ul {
  list-style: none;
  font-size: 0;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 8px 17px;
  border-radius: 25px;
}

.checkbox-area li {
  display: inline-block;
  vertical-align: bottom;
  font-size: 16px;
  line-height: 18px;
  margin-right: 24px;
}

.checkbox-area li:last-child {
  margin-right: 0;
}

.checkbox-indicator {
  position: absolute;
  top: -2px;
  left: -1px;
  width: 18px;
  height: 18px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 3px;
}

.checkbox-area input[type="checkbox"]:checked + .checkbox-indicator::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 3px;
  width: 6px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg)
}

.checkbox-area input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  margin-top: 7px;
  margin-left: 5px;
  width: 12px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.filters-form button {
  height: 38px;
  font-size: 16px;
  line-height: 18px;
  color: rgb(255, 255, 255);
  padding: 8px 28px;
  margin-top: auto;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 17px;
  cursor: pointer;
}

.filters-form button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(50, 50, 50);
}

.filters-form button:active {
  background-color: rgb(255, 255, 255);
  color: rgb(50, 50, 50);
  -webkit-box-shadow: inset 0 2px 1px rgb(105, 105, 105);
          box-shadow: inset 0 2px 1px rgb(105, 105, 105);
}

.catalog-content {
  margin-bottom: 39px;
  min-height: 1051px;
}

.pages-nav {
  padding-bottom: 31px;
  border-bottom: 1px solid rgba(230, 235, 233, 0.3);
}

.pages-nav ul {
  width: 201px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 0;
  margin-left: 951px;
  padding: 0;
  font-size: 0;
}

.pages-nav li {
  font-size: 16px;
  line-height: 27px;
  text-align: center;
}

.pages-nav a {
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.pages-nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.pages-nav a:active {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.pages-nav .active,
.pages-nav .active:hover,
.pages-nav .active:active {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.pages-nav .previous-page,
.pages-nav .next-page {
  font-size: 0;
  position: relative;
}

.pages-nav .previous-page::before,
.pages-nav .previous-page::after,
.pages-nav .next-page::before,
.pages-nav .next-page::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: rgb(255, 255, 255);
}

.pages-nav .previous-page::before,
.pages-nav .next-page::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.pages-nav .previous-page::after,
.pages-nav .next-page::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.pages-nav .previous-page::before {
    top: 16px;
    left: 6px;
}

.pages-nav .previous-page::after {
    top: 10px;
    left: 6px;
}

.pages-nav .next-page::before {
    top: 10px;
    left: 10px;
}

.pages-nav .next-page::after {
    top: 16px;
    left: 10px;
}

.pages-nav .previous-page:active::before,
.pages-nav .previous-page:active::after,
.pages-nav .next-page:active::before,
.pages-nav .next-page:active::after {
  background-color: rgb(0, 0, 0);
}

.pages-nav .not-active {
  opacity: 0.2;
}

.pages-nav .not-active:hover,
.pages-nav .not-active:active {
  background-color: transparent;
}

.pages-nav .not-active:active::before,
.pages-nav .not-active:active::after {
  background-color: rgb(255, 255, 255);
}

/*
////////////////////////////////////////////////////////  FOOTER  ///////////////////////////////////////////////////////
*/

.main-footer {
  width: 1200px;
  margin: 0 auto;
  padding-top: 19px;
  padding-bottom: 26px;
}

.footer-social {
  -ms-flex-preferred-size: 179px;
      flex-basis: 179px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 4px;
  font-size: 0;
  line-height: 0;
}

.social-btn {
  display: block;
  -ms-flex-preferred-size: 32px;
      flex-basis: 32px;
  height: 32px;
  margin-top: 18px;
  margin-right: 1px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
}

.social-btn:hover {
  -webkit-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.7);
          box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.7);
}

.social-btn:active {
  -webkit-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.7),
              0 2px 1px rgb(136, 136, 136) inset;
          box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.7),
              0 2px 1px rgb(136, 136, 136) inset;
}

.social-btn-twitter {
  background-image: url("../img/spritesheet.png");
  background-position: -5px -591px;
  background-repeat: no-repeat;
}

.social-btn-instagram {
  background-image: url("../img/spritesheet.png");
  background-position: -5px -437px;
  background-repeat: no-repeat;
}

.social-btn-facebook {
  background-image: url("../img/spritesheet.png");
  background-position: -5px -65px;
  background-repeat: no-repeat;
}

.social-btn-vkontakte {
  background-image: url("../img/spritesheet.png");
  background-position: -5px -633px;
  background-repeat: no-repeat;
}

.footer-nav {
  -ms-flex-preferred-size: 335px;
      flex-basis: 335px;
  margin-right: 5px;
}

.footer-nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 13px;
}

.footer-nav li {
  min-width: 122px;
  margin-left: 21px;
}

.footer-nav a {
  font-size: 13px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.3);
  position: relative;
}

.footer-nav a:hover,
.footer-nav a:active {
  color: rgba(255, 188, 158, 0.3);
}

.footer-nav span {
  color: rgb(255, 255, 255);
}

.footer-nav span:hover,
.footer-nav span:active {
  color: rgb(255, 188, 158);
}

.footer-nav .providers {
  font-weight: 700;
  }

.footer-nav .providers::before {
  content: "";
  position: absolute;
  left: -21px;
  top: 2px;
  width: 15px;
  height: 13px;
  background-image: url("../img/spritesheet.png");
  background-position: -5px -343px;
  background-repeat: no-repeat;
}

.footer-copyright {
  -ms-flex-preferred-size: 190px;
      flex-basis: 190px;
}

.footer-copyright p {
  font-size: 12px;
  line-height: 18px;
  color: rgb(255, 255, 255);
  margin:0;
  padding: 0;
  margin-top: -2px;
}

.footer-copyright a {
  color: rgba(255, 255, 255, 0.3);
  margin: 0;
  padding: 0;
}

.footer-copyright a:hover,
.footer-copyright a:active {
  color: rgba(255, 188, 158, 0.3);
}

.footer-copyright span {
  color: rgb(255, 255, 255);
}

.footer-copyright span:hover,
.footer-copyright span:active {
  color: rgb(255, 188, 158);
}

.footer-copyright .footer-logo {
  margin-left: 2px;
}

/*
///////////////////////////////////////////////////SPRITE///////////////////////////////
*/

.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-basket {
    width: 21px;
    height: 20px;
    background-position: -5px -5px;
}

.sprite-basket-full {
    width: 21px;
    height: 20px;
    background-position: -5px -35px;
}

.sprite-facebook {
    width: 32px;
    height: 32px;
    background-position: -5px -65px;
}

.sprite-feature-icon-cow {
    width: 48px;
    height: 49px;
    background-position: -5px -107px;
}

.sprite-feature-icon-ic {
    width: 49px;
    height: 49px;
    background-position: -5px -166px;
}

.sprite-feature-icon-leaf {
    width: 49px;
    height: 49px;
    background-position: -5px -225px;
}

.sprite-feature-icon-term {
    width: 48px;
    height: 49px;
    background-position: -5px -284px;
}

.sprite-heart {
    width: 15px;
    height: 13px;
    background-position: -5px -343px;
}

.sprite-hit {
    width: 61px;
    height: 61px;
    background-position: -5px -366px;
}

.sprite-instagram {
    width: 32px;
    height: 32px;
    background-position: -5px -437px;
}

.sprite-login {
    width: 21px;
    height: 19px;
    background-position: -5px -479px;
}

.sprite-login-hover {
    width: 21px;
    height: 19px;
    background-position: -5px -508px;
}

.sprite-search {
    width: 17px;
    height: 17px;
    background-position: -5px -537px;
}

.sprite-search-hover {
    width: 17px;
    height: 17px;
    background-position: -5px -564px;
}

.sprite-twitter {
    width: 32px;
    height: 32px;
    background-position: -5px -591px;
}

.sprite-vkontakte {
    width: 32px;
    height: 32px;
    background-position: -5px -633px;
}



/*//////////////////////////////////////////////////////MODAL CONTENT////////////////////////////////////////////////////////*/

.modal-content {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -239px;
  margin-top: -221px;
  z-index: 100;
  width: 428px;
  height: 408px;
  padding: 17px 25px;
  background-color: rgb(255, 255, 255);
  border-radius: 9px;
}

.modal-content p {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  color: rgb(50, 50, 50);
}

.feedback-form label {
  display: block;
  line-height: 13px;
  margin-left: 16px;
  font-size: 11px;
  color: transparent;
}

.feedback-form input[type="text"] {
  width: 238px;
  margin: 0;
  margin-left: 2px;
  margin-bottom: 9px;
  padding: 9px 14px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Roboto", "Arial", sans-serif;
  color: rgb(50, 50, 50);
  -webkit-box-shadow: 0 0 0 1px rgba(178, 178, 178, 0.52);
          box-shadow: 0 0 0 1px rgba(178, 178, 178, 0.52);
  border-radius: 4px;
  border: none;
}

.feedback-form textarea {
  width: 399px;
  height: 135px;
  margin: 0;
  margin-left: 2px;
  margin-bottom: 9px;
  padding: 9px 14px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Roboto", "Arial", sans-serif;
  color: rgb(50, 50, 50);
  -webkit-box-shadow: 0 0 0 1px rgba(178, 178, 178, 0.52);
          box-shadow: 0 0 0 1px rgba(178, 178, 178, 0.52);
  border-radius: 4px;
  border: none;
}

.feedback-form input[type="text"]::-webkit-input-placeholder,
.feedback-form textarea::-webkit-input-placeholder {
  color: rgb(153, 153, 153);
  font-weight: 400;
}

.feedback-form input[type="text"]:-ms-input-placeholder,
.feedback-form textarea:-ms-input-placeholder {
  color: rgb(153, 153, 153);
  font-weight: 400;
}

.feedback-form input[type="text"]::placeholder,
.feedback-form textarea::placeholder {
  color: rgb(153, 153, 153);
  font-weight: 400;
}

.feedback-form input[type="text"]:hover,
.feedback-form textarea:hover {
  -webkit-box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.52);
          box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.feedback-form input[type="text"]:focus,
.feedback-form textarea:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
          box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
  outline: none;
}

.feedback-form input[type="text"]:focus::-webkit-input-placeholder,
.feedback-form textarea:focus::-webkit-input-placeholder {
  color:transparent;
}

.feedback-form input[type="text"]:focus:-ms-input-placeholder,
.feedback-form textarea:focus:-ms-input-placeholder {
  color:transparent;
}

.feedback-form input[type="text"]:focus::placeholder,
.feedback-form textarea:focus::placeholder {
  color:transparent;
}

.feedback-form .btn {
  float: right;
  margin-right: 1px;
  margin-top: 11px;
  padding-left: 18px;
  padding-right: 18px;
}

.modal-content .modal-content-close {
  position: absolute;
  top: 15px;
  right: 13px;
  font-size: 0;
  width: 18px;
  height: 18px;
  border: none;
  background-color: transparent;
}

.modal-content .modal-content-close:hover {
  cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 9px;
  left: -3px;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: rgb(0, 0, 0);
}

.modal-content-close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-content-close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-content-show {
  display: block;
  -webkit-animation: emerge 0.5s;
          animation: emerge 0.5s;
}

.overlay-show {
  display: block;
}

.site-wrapper .label-show {
  color: rgba(46, 136, 228, 0.52);
}

.site-wrapper .label-color {
  color: rgb(153, 153, 153);
}

@-webkit-keyframes emerge {
  0%   {
-webkit-transform: translate(500px, 150px);
        transform: translate(500px, 150px); }
}

@keyframes emerge {
  0%   {
-webkit-transform: translate(500px, 150px);
        transform: translate(500px, 150px); }
}
